---
import Layout from "../../layouts/Layout.astro";

import RegistrationForm from "../../components/RegistrationForm.astro";

import settings from "../../data/ca/global_settings.json";
import registration from "../../data/ca/registration.json";

const lang = "ca";
const BASE_CTA_URL = "https://fenles.com/evento/halloween-fest-estacio-de-franca-barcelona-31-10-2025-estacio-de-franca?src=meta&utm_campaign=hlwnfest2025";
const CTA_LABEL = (settings?.demo?.title) ?? "Comprar entradas";
---
<Layout
  title={settings.title}
  description={settings.description}
  settings={settings}
  lang={lang}
>
  <section><RegistrationForm settings={settings} registration={registration}, lang lang={lang} /></section>

</Layout>
