---
import Image from "astro/components/Image.astro"
import poster from "../assets/theme-images/poster.png"
import video from "../assets/theme-images/hlwn-fest.mp4"
const { settings, title, content } = Astro.props

const BASE_CTA_URL =
  "https://fenles.com/evento/halloween-fest-estacio-de-franca-barcelona-31-10-2025-estacio-de-franca?src=meta&utm_campaign=hlwnfest2025"
---

<section class="bs-container py-6 flex flex-col lg:flex-row items-center">
  
  <video class="absolute top-0 left-0 w-full h-full object-cover" autoplay loop playsinline>
    <source src={video} type="video/mp4" />
    Il tuo browser non supporta il video.
  </video>
  
  <!-- Testi -->
   <div class="relative z-10 flex flex-col gap-6 text-center text-white px-4 lg:text-left lg:max-w-lg">
    <h1 class="bs-h1" set:html={title} />
    <div
      class="bs-body-text xl:text-xl flex flex-col gap-4 [&_p]:last:text-yellow-300"
      set:html={content}
    />
    <a href={BASE_CTA_URL} class="bs-btn self-center lg:self-start bs-mt-sm" data-cta>
      {settings.demo?.cta}
    </a>
  </div>
  
</section>
